.form {
    max-height: 80vh;
    display: flex;
    gap: 10px;
    flex: 1;

    .boys {
        width: 20%;
    }

    .sections {
        width: 20%;
    }

    .sections,
    .boys {
        padding-right: 10px;
        border-right: 1px solid lightgrey;
    }
}

.next,
.back {
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 20px;
    background: #26284b;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
        scale: .95;
    }
}

.boys,
.sections {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

    input {
        display: none;

        &:checked+label {
            background-color: #f5f5f5;
            color: black;

            &::after {
                position: absolute;
                content: '\f00c';
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font: var(--fa-font-regular);
            }
        }
    }

    label {
        position: relative;
        font-size: 14px;
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 20px;
        border: 1px solid lightgrey;
        transition: all 0.2s ease;

        &.complete {
            background-color: #dcfce7; // light green
            border-color: #86efac;
            color: #166534;
        }
    }
}

.fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
    height: max-content;
    overflow: auto;
    flex: 1;

    label {
        cursor: pointer;
        padding: 8px 0;
    }

    input {
        accent-color: #26284b;
        cursor: pointer;

        &:checked+label {
            color: green;
            text-decoration: line-through;
        }
    }

    h3,
    textarea {
        grid-column: span 2;
    }

    h3:last-of-type {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    textarea {
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid lightgrey;
        resize: none;
        width: 100%;
    }
}

.missing+label {
    color: red !important;
}

.missing:checked+label {
    text-decoration: none !important;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        height: unset;
        max-height: unset;

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }

        .boys,
        .sections {
            width: unset;
            min-height: unset;
            overflow: unset;
            padding-right: 0;
            border-right: unset;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            h3,
            .back,
            .next {
                grid-column: 1 / -1;
            }

            .back,
            .next {
                width: max-content;
            }

            label {
                overflow: hidden;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .sections {
            padding-bottom: 10px;
            border-bottom: 1px solid lightgrey;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
        }
    }
}