.uniform_inspection_page {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.header {
    display: contents;

    p {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        background: #f5f5f5;
        color: grey;
        text-transform: uppercase;
        font-size: 14px;

        &:first-of-type {
            border-top-left-radius: 10px;
            border-left: 1px solid lightgrey;
        }

        &:last-of-type {
            border-top-right-radius: 10px;
            border-right: 1px solid lightgrey;
        }
    }
}

.row_name {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid lightgrey;
    padding-left: 20px;
    cursor: pointer;

    p {
        width: 100%;
    }
}

.table {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) repeat(3, minmax(max-content, 200px)) max-content;
    overflow: auto;
    animation: slideUp 1s ease-in-out forwards;
    opacity: 0;

    .row {
        display: contents;

        &:last-of-type {
            .row_name {
                border-bottom: 1px solid lightgrey;
                border-bottom-left-radius: 10px;
            }

            >p {
                border-bottom: 1px solid lightgrey;
            }

            >p:last-of-type {
                border-bottom-right-radius: 10px;
            }
        }

        >p:last-of-type {
            border-right: 1px solid lightgrey;
        }
    }

    p {
        padding: 10px;
        display: flex;
        font-size: 14px;
        align-items: center;

        &[aria-label] {
            justify-content: center;
        }
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    i {
        cursor: pointer;
    }
}

.button {
    background: #26284b;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    margin-left: auto;
    border: 1px solid lightgrey;
    transition: all 0.2s ease-in-out;
    position: relative;

    i {
        margin-right: 5px;
    }

    &:hover {
        scale: 1.05;
    }
}

.toggle_all {
    border: 1px solid lightgrey;
    color: black;
    border-radius: 10px;
    padding: 8px 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        scale: 1.05;
        background: #f5f5f5;
    }
}

.filter {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    background: white;

    .search_box {
        display: flex;
        background: #f5f5f5;
        width: 300px;
        padding: 5px 10px;
        border-radius: 20px;
        gap: 5px;
        align-items: center;

        input {
            border: none;
            outline: none;
            background: transparent;
            color: black;
            border-radius: 0;
            padding: 5px;
            width: 100%;

            &::-webkit-search-cancel-button {
                display: none;
            }
        }
    }

    .sec_filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;

        input[type='checkbox'] {
            display: none;
        }

        input[type='checkbox']+label {
            cursor: pointer;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 20px;
            padding: 8px 10px;
            color: black;
            font-size: 14px;
        }

        input[type='checkbox']+label::before {
            content: '\f00d';
            width: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font: var(--fa-font-regular);
            color: red;
        }

        input[type='checkbox']:checked+label::before {
            content: '\f00c';
            font: var(--fa-font-regular);
            color: darkgreen;
            width: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.stats_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    h2 {
        grid-column: 1 / -1;
    }
}

.stats {
    padding: 10px;
    min-height: 120px;
    border-radius: 10px;
    border: 2px solid #82b1eb;
    background: #8686f833;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
    opacity: 0;
    animation: slideUp 0.5s ease-in-out forwards;

    h3 {
        color: grey;
        font-weight: normal;
        font-size: 14px;
    }

    p {
        font-size: 48px;
        font-weight: bold;
    }

    span {
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .positive {
        color: green;
    }

    .negative {
        color: red;
    }

    .stagnant {
        color: grey;
    }

    &.trend div {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 100%;

        i {
            font-size: 24px;
        }
    }

    &.failures {
        display: flex;
        gap: 10px;

        div {
            display: flex;
            height: 100%;
            gap: 10px;
            width: 100%;

            div {
                padding: 5px;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: #82b1eb;
                display: flex;
                flex-direction: column;
                gap: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            p {
                color: white;
                text-align: center;
                font-size: 16px;
            }
        }
    }

    @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
            animation-delay: $i * 0.2s;
        }
    }
}

.expand {
    font-size: 12px !important;
    color: grey;
    cursor: pointer;
    font-style: italic;
    user-select: none;
}

.score_container {
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: center;

    p {
        font-size: 14px;
        font-weight: normal;
        padding: 0;
    }
}

.bar {
    width: 60%;
    height: 10px;
    background: lightgrey;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: green;
    height: 10px;
    border-radius: 10px;
}

.expanded div:not(:first-of-type),
.expanded>p:not(:last-of-type) {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.expanded {
    overflow: hidden;
    animation: open 0.5s ease-in-out forwards;
}

@keyframes open {
    from {
        height: 0;
    }

    to {
        height: 30px;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (width <= 800px) {
    .stats_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (width <= 400px) {
    .failures {
        div {
            flex-direction: column;
        }
    }
}