.skiptranslate>iframe {
    height: 0 !important;
    border-style: none;
    box-shadow: none;
}

.goog-te-gadget {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: flex-start;
    gap: 8px 5px;

    >div {
        grid-column: span 2;
        padding: 3px 5px;
        border-radius: 6px;
        border: 1px solid #ccc;
        color: #333;
        cursor: pointer;
    }

    span {
        display: block;
        font-size: 12px;
        font-weight: normal;
        color: #666;
    }
}

#goog-gt-tt {
  display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  background-color: transparent !important;
  box-shadow: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
